/checkpoints
/InterAct/*
!/InterAct/Parahome
!/InterAct/OMOMO
/InterAct/OMOMO_new
/InterAct/OMOMO_retarget
/wandb
/output
/.history
/.vscode
/tmp
/.claude
/CLAUDE.md

/isaacgym
/scripts/*
!/scripts/test_parahome.sh
!/scripts/train_parahome.sh
!/scripts/train_omomo.sh
!/scripts/test_omomo.sh
__pycache__/
*.zip
*.log
*.mp4
/paper